.swiper-horizontal > .swiper-pagination-bullets {
  display: none;
}
.main-parent-div {
  height: 100%;
  padding: 15px;
}
.span1 {
  font-weight: bold;
}
.parent-child-1 {
  height: 60%;
}
.grand-child-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.grand-son1 {
  display: flex;
  width: auto;
  gap: 20px;
  justify-content: space-between;
}
.flag-icon {
  width: 20px;
  height: 20px;
}
.team-name {
  font-weight: 700;
  color: #2b2c2d;
  font-size: 12px;
  line-height: 16px;
}
.grand-son2 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.team-score {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
}
.status-div {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
}
.status-div > p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #2b2c2d;
}
.report-div {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 20%;
  align-items: center;
}
.report-div > a {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #2b2c2d;
}
